@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;800&display=swap');

:root {
  --lm-white1: #F5FDFF;
  --lm-white2: #E8F0F3;
  --dm-grey1: #212121;
  --dm-grey2: #313131;
  --Blue1: #2563EB;
  --Blue2: #528DFF;
  --Red: #F12222;
  --lm-grey1: #64748B;
  --lm-grey2: #C1CADB;
  --lm-btnHover: #DAE7F8;
  --smooth: all 0.3s ease;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}